.showContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showDescription {
  font-size: 0.5em;
  color: var(--color-normal-text);
}

.showValue {
  font-size: 1.5em;
  margin-bottom: 0.12em;
}

.mainContainer {
  display: flex;
  justify-content: center;
}
