.brickWithEventsItem {
  height: 36px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.nodeHover,
.brickWithEventsItem:hover,
.brickWithEventsItem.active {
  background-color: rgba(255, 255, 255, 0.06);
}

.nodeAlias {
  flex: auto;
  padding: 0 10px;
  min-width: 0;
  color: var(--text-color-title);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nodeHover .nodeAlias,
.brickWithEventsItem:hover .nodeAlias,
.brickWithEventsItem.active .nodeAlias {
  color: #4e93ef;
}

.icons {
  width: 50px;
  padding-right: 10px;
  color: var(--text-color-secondary);
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 22px;
  font-size: 12px;
  color: green;
  opacity: 0.3;
  filter: grayscale(1);
}

.activeIcon {
  opacity: 1;
  filter: none;
}
