.searchBox,
[data-override-theme="light"] .searchBox {
  --search-box-background: #fff;
}
html[data-theme="dark-v2"] .searchBox,
[data-override-theme="dark-v2"] .searchBox {
  --search-box-background: #181818;
}

.searchBox {
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: var(--search-box-background);
  padding: 5px 10px 10px;
  :global(.ant-input-affix-wrapper) {
    background-color: var(--search-box-background);
    border: 1px solid rgba(255, 255, 255, 0.2);
    :global(input.ant-input) {
      background-color: var(--search-box-background);
    }
  }
}

.placeholder {
  color: var(--antd-input-placeholder-color);
  padding: 0 15px;
}

.activeBar {
  position: sticky;
  z-index: 999;
  top: 43px;
  display: flex;
  padding: 12px;
  height: 35px;
  align-items: center;
  gap: 8px;
  background: var(--sidebar-background);
  border-bottom: 1px solid var(--color-text-divider-line);

  .icon {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;

    &:hover {
      background-color: var(--palette-gray-3);
    }
  }
}
