:host {
  display: block;
  background-color: rgb(37, 37, 38);
  outline-color: rgba(83, 89, 93, 0.5);
  height: 100%;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.title-container {
  display: flex;
  padding: 0 8px;
  color: rgb(187, 187, 187);
}

.title-label {
  font-weight: 300;
  line-height: 35px;
  padding-left: 12px;
  text-transform: uppercase;
}

.pane-container {
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

::slotted([slot="panes"]) {
  transition: flex 0.2s;
  min-height: 25px;
}

.resizer {
  position: absolute;
  width: 4px;
  right: -2px;
  top: 0;
  bottom: 0;
  cursor: col-resize;
}

.resizer:hover {
  background: #007fd4;
  transition: background 0.1s 0.3ms ease-out;
}

.resizer-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  display: none;
}

.resizer.active .resizer-mask {
  display: block;
}
