.crontabContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  background: var(--custom-form-item-wrapper-bg);
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 5px;
  .formatText {
    grid-column: span 5;
  }
}
