.toolbarContainer {
  height: var(--editor-brick-toolbar-height);
  display: grid;
  padding: 0 10px 0 0;
  align-items: center;
  justify-content: space-between;
  grid-auto-flow: column;
  box-shadow: 0px 3px 10px 0px rgb(128 128 128 / 15%);
  background: rgba(255, 255, 255, 1);
}

.toolbarRight {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
}

.toolbarLeft {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
}
