.arrow {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 6px solid var(--editor-brick-skeleton-bg-light);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
