.arrow {
  float: right;
  margin-top: 6px;
  width: 0;
  height: 0;
  border-top: 8px solid var(--editor-brick-skeleton-bg-light);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
