.dynamicForm {
  background-color: var(--color-fill-bg-base-1);
  border-radius: 6px;
  padding: 16px;

  :global(.ant-form-item) {
    margin-bottom: 0;
  }

  .row {
    margin-bottom: 16px;
  }

  .hidden {
    visibility: hidden;
  }

  .displayNone {
    display: none;
  }

  .addRowBtn {
    width: calc(100% - 34px);
  }

  .removeRowBtn {
    color: var(--color-secondary-text);
    font-size: 20px;
    padding: 0;
    padding-left: 4px;

    &.inLabelRow {
      margin-top: 30px;
    }

    &.inGridLayout {
      margin-top: 0;
      align-self: center;
    }

    &:hover {
      color: var(--color-auxiliary-text);
    }

    &[disabled] {
      color: var(--text-color-disabled);
    }
  }

  .importExportButtons {
    display: flex;
    gap: 16px;
    margin: -16px 0 8px 0;
  }

  .divider {
    margin: 24px 0 8px 0;
    border-top: 2px solid #b5b3b3;
  }
}
