.descContainer {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.iconContainer {
  position: relative;
  top: 0px;
  color: var(--color-brand);
}

.iconContainer:hover {
  color: var(--color-brand-hover);
}

.text {
  margin-right: 5px;
}

.textEllipsis {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
