.descContainer {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.iconContainer {
  position: relative;
  top: -1px;
  color: var(--color-brand);
}

.iconContainer:hover {
  color: var(--color-brand-hover);
}

.text {
  margin-right: 5px;
}
