.searchWrapper {
  padding: 0 10px 10px 10px;
}

.componentCategory {
  color: var(--text-color-title);
  padding: 10px;
}

.componentWrapper,
.popover {
  display: grid;
  grid-gap: 10px 15px;
}

.componentItem {
  flex-direction: column;
  gap: 8px;
  height: auto;
  padding: 8px 4px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: grab;
  min-width: 0;
  border-radius: 6px;
  background: var(--tag-gray-background);
}

.icon {
  flex-shrink: 0;
  display: flex;
  width: 60px;
  height: 55px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;

  img {
    background-color: #fff;
    border-radius: 6px;
  }
}

.componentItem:hover .icon,
.componentItem:hover .defaultIcon {
  transform: scale(1.2);
}

.defaultIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100%;
  font-size: 37px;
  background: rgb(255, 255, 255);
  color: rgb(100, 120, 182);
  border-radius: 6px;
  transition: all 0.3s ease 0s;
}

.name {
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 0px 10px;
  color: var(--text-color-title);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@keyframes shake-top {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

@keyframes slide-in-blurred-left {
  0% {
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-out-blurred-right {
  0% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) scaleX(2) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }
}

.brickWrapper {
  .brickItem {
    display: flex;
    flex-direction: column;
    position: relative;

    .componentItem {
      flex: 1;
    }
    .actionWrapper {
      display: flex;
      font-size: 12px;
      justify-content: space-around;
      background: #aaa;
      visibility: hidden;
      .action {
        width: 100%;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        cursor: pointer;
        &:hover {
          background: #fff;
          color: #000;
        }
        &:first-child {
          border-right: 2px solid;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }

    &:hover .actionWrapper {
      visibility: visible;
    }
  }
}

.popover {
  position: relative;
  margin: 10px 0;
  padding: 18px 15px 15px;
  border-radius: 6px;
  background: var(--tag-gray-background);
  animation: bounce-in-left 1.1s both;
  border: 1px solid var(--tag-gray-color);

  .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 15px solid var(--tag-gray-color);
    top: -30px;
    transform: translateX(-50%);
  }

  .close {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 8px;
    top: 5px;
    cursor: pointer;

    &::before {
      transform: rotate(-45deg);
    }

    &:hover::before {
      transform: rotate(-90deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    &:hover::after {
      transform: rotate(90deg);
    }

    &::before,
    &::after {
      display: block;
      content: "";
      width: 1px;
      height: 100%;
      background-color: var(--palette-rgba-gray-6);
      position: absolute;
      right: 50%;
      -webkit-transition: all 0.15s ease;
      transition: all 0.15s ease;
    }
  }

  .componentItem {
    transform: scale(0.85);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
  }
}
.slideEnter {
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slideExit {
  animation: slide-out-blurred-right 0.45s
    cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}
