.anchorWrapper {
  width: 100%;
  background: var(--antd-component-background);
  backdrop-filter: blur(3px);
  padding: 5px 0;
  .anchorContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
  }
  :global(.ant-anchor-ink) {
    display: none;
  }
  .anchorLinkContainer {
    display: flex;
    background: var(--antd-anchor-radio-type-bg);
    border-radius: 15px;
    padding: 2px;
    :global(.ant-anchor-link) {
      padding: 0;
    }
    :global(.ant-anchor-link-title) {
      padding: 8px 16px;
      border-radius: 15px;
      color: var(--antd-anchor-radio-type-title-color);
    }
    :global(.ant-anchor-link-active > .ant-anchor-link-title) {
      color: var(--antd-anchor-radio-type-title-active-color);
      background: var(--antd-anchor-radio-type-title-active-bg);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    }
  }
  .extraContainer {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    justify-items: end;
    align-items: center;
  }
}

:global(.ant-anchor-link-title) {
  font-size: var(--antd-anchor-title-font-size);
}
