.wrapper {
  /* Try to use pre-defined css variables like `var(--editor-...)` */
  /* See https://github.com/easyops-cn/next-core/blob/master/packages/brick-container/src/styles/editor-bricks-variables.css */
  border-radius: var(--editor-brick-border-radius);
  background: var(--editor-brick-skeleton-bg-light);
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.leftContainer,
.rightContainer {
  display: flex;
}

.leftContainer {
  margin-right: 20px;
  > div {
    margin-left: 20px;
  }
}

.logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d0d1d2;
}

.appName {
  line-height: 32px;
}

.lanuchpadButton {
  width: 32px;
  height: 32px;
  background-color: #d0d1d2;
}

.menus {
  width: 300px;
  height: 32px;
  background-color: #d0d1d2;
}

.slotContainer {
  position: relative;
  flex: 1;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 4px;
  :global(.__empty)::before {
    content: attr(data-slot-id);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--stroke-color-default);
    font-size: 20px;
    border: 1px dashed;
    border-radius: 4px;
  }
}

.emptyStatus {
  &::before {
    content: attr(data-slot-id);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--stroke-color-default);
    font-size: 20px;
    border: 1px dashed;
    border-radius: 4px;
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d0d1d2;
}
