.label {
  display: inline;
  padding: 4px 10px;
  border-radius: 6px;
  line-height: 24px;
  font-size: 12px;
  font-weight: normal;
}

.default {
  padding: 2px 8px;
}

.error {
  color: #ff0016;
}
