.type {
  cursor: default;
}

.refTag,
.typeTag {
  line-height: 22px;
  padding: 0 9px;
  border-radius: 12px;
}

.typeTag {
  &:global(.ant-tag) {
    color: var(--tag-blue-color);
    background: var(--tag-blue-background);
  }
}

.refTag {
  &:global(.ant-tag) {
    color: var(--tag-cyan-color);
    background: var(--tag-cyan-background);
  }
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
