.subMenuContainer {
  background: #ffffff;
  border-radius: 6px;
  padding: 20px 12px;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0 24px 16px 24px;
    line-height: 26px;
    color: #000;

    i {
      color: #8c8c8c;
      width: 24px;
      text-align: center;
    }

    > i + span {
      margin-left: 5px;
    }

    .headerTitle {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  > :global(.ant-input-search) {
    margin-bottom: 10px;
  }

  > :global(.ant-menu) {
    background: transparent;

    :global(.ant-menu-item-group) {
      :global(.ant-menu-item-group-title) {
        padding: 8px;
        font-size: 12px;
      }
    }

    :global(.ant-menu-sub.ant-menu-inline) {
      background-color: #f7f7f7;
      border-radius: 6px;
    }

    :global(.ant-menu-item) {
      margin: 0;
      border-radius: 6px;

      &:after {
        content: none;
      }

      &:not(:global(.ant-menu-item-selected)):hover {
        background-color: #f2f5f9;
      }

      &:not(:global(.ant-menu-item-selected)):active {
        background-color: #d8e4f0;
      }
    }

    :global(.ant-menu-item-selected) {
      background-color: #e0eeff;
    }

    :global(.ant-menu-submenu-title) {
      margin: 0;
    }
  }

  :global(.ant-menu-item-group-list .ant-menu-submenu-title) .menuItemMainPart {
    width: calc(100% - 20px);
  }

  :global(.ant-menu-item-only-child) {
    padding-right: 0 !important;
  }

  :global(.ant-menu-inline .ant-menu-item) {
    width: 100%;
  }
}

.itemContainerInner {
  padding: 8px 8px 8px 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.menuItemMainPart {
  overflow: hidden;
  text-overflow: ellipsis;
}

.transparentBackground {
  background: transparent;

  :global(.ant-menu) {
    :global(.ant-menu-submenu) {
      color: #000000d9;

      /* subMenu-title hover样式 */
      &:global(.ant-menu-submenu-active .ant-menu-submenu-title) {
        color: inherit;
        background-color: #f5f5f5;
      }

      /* subMenu展开时subMenu-title样式 */
      &:global(.ant-menu-submenu-open .ant-menu-submenu-title) {
        font-weight: 500;
      }

      /* subMenu子项被选中时subMenu-title样式 */
      &:global(.ant-menu-submenu-selected .ant-menu-submenu-title) {
        color: #116ac3;
        background-color: #ebf3fd;

        .menuItemMainPart > i {
          color: #116ac3;
        }
      }

      /* subMenu-title 普通样式 */
      :global(.ant-menu-submenu-title) {
        :global(.ant-menu-submenu-arrow) {
          color: #bfbfbf;

          &::before,
          &::after {
            height: 1px;
          }
        }

        .menuItemMainPart > i {
          color: #8c8c8c;
        }
      }

      /* subMenu组 普通样式 */
      :global(.ant-menu-sub) {
        background-color: transparent !important;
      }
    }

    /* menu-item 样式 */
    :global(.ant-menu-item) {
      color: #8c8c8c;

      &:global(.ant-menu-item-selected) {
        background-color: #ebf3fd;
        color: #116ac3;
      }

      &:global(:not(.ant-menu-item-selected):hover) {
        background-color: #f5f5f5;
      }
    }
  }
}
