html[data-theme="light"] {
  --menu-header-background: linear-gradient(
    90deg,
    rgb(230, 236, 245, 0.7) 0%,
    rgb(255, 255, 255, 0.7) 100%
  );
}

html[data-theme="dark-v2"] {
  --menu-header-background: linear-gradient(90deg, #343b4d 0%, #2a2a2b 100%);
}

.wrapper {
  display: flex;
  max-height: 456px;
}

.groupList {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  border-right: 1px solid var(--color-text-divider-line);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .groupItem {
    width: 160px;
    flex-shrink: 0;
    position: relative;
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background: var(--color-secondary-text);
      border-radius: 50%;
      left: 11px;
      bottom: 50%;
      transform: translateY(50%);
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 28px;
      height: 2px;
      background: var(--color-brand);
      left: 24px;
      bottom: 0;
      opacity: 0;
    }

    .groupItemText {
      display: block;
      margin-left: 24px;
      margin-right: 10px;
      font-size: 14px;
      color: var(--color-normal-text);
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.groupItemChecked {
      &::before {
        opacity: 1;
      }
    }

    &.groupItemActive {
      &::before {
        background: var(--color-brand);
      }

      &::after {
        opacity: 1;
      }

      .groupItemText {
        color: var(--color-brand);
      }
    }

    &:hover {
      &::before {
        background: var(--color-brand);
      }

      &::after {
        opacity: 1;
      }

      .groupItemText {
        color: var(--color-brand);
      }
    }
  }
}

.menuContainer {
  display: flex;
  flex-direction: column;

  .menuHeader {
    height: 44px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: var(--menu-header-background);

    .menuHeaderText {
      margin-left: 20px;
      font-size: 16px;
      font-weight: var(--font-weight-500);
      color: var(--color-normal-text);
      line-height: 20px;
    }
  }

  .menuItemsContainer {
    padding: 12px 0;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 160px);
    gap: 2px 0;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    .menuItem {
      height: 36px;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        background: var(--color-normal-text);
        border-radius: 50%;
        left: 12px;
        bottom: 50%;
        transform: translateY(50%);
        opacity: 0;
      }

      .menuItemText {
        display: block;
        margin-left: 24px;
        margin-right: 10px;
        font-size: 14px;
        color: var(--color-normal-text);
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.menuItemChecked {
        &::before {
          opacity: 1;
        }

        .menuItemText {
          font-weight: var(--font-weight-500);
          color: var(--color-strong-text);
          line-height: 22px;
        }
      }

      &.menuItemActive {
        &::before {
          background: var(--color-brand);
        }

        .menuItemText {
          color: var(--color-brand);
        }
      }

      &:hover {
        &::before {
          background: var(--color-brand);
        }

        .menuItemText {
          color: var(--color-brand);
        }
      }
    }
  }
}
