.linkContainer {
  color: var(--antd-link-color);
  padding: 5px 10px;
  min-height: var(--editor-brick-base-height);
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  &.empty {
    border-radius: var(--editor-brick-border-radius);
    background: var(--editor-brick-skeleton-bg-light);
  }
}
