presentational-bricks\.brick-link {
  a {
    vertical-align: middle;
    color: var(--bg-color-button-link);

    &:hover,
    &:focus {
      color: var(--bg-color-button-link-hover);
    }

    &.active,
    &:active {
      color: var(--bg-color-button-link-pressed);
    }
  }
}

.externalIcon {
  margin-left: 6px;
  color: #bdbdbd;
  display: inline-block;
}

.disabledLink {
  color: #bfbfbf;
  cursor: not-allowed;
}

.textLink {
  color: var(--text-color-default);
  &:hover,
  &:focus,
  &.active,
  &:active {
    color: var(--text-color-default);
    text-decoration: underline;
  }
}
.underLine:hover {
  border-bottom: 1px solid #0071eb;
}
