.GeneralPopup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: var(--fullscreen-overlay-shadow);
}

.general-popup-header {
  display: flex;
  justify-content: space-between;
  background: var(--antd-modal-footer-bg);
  padding: 12px;
  border-bottom: 1px solid var(--theme-gray-color);
  border-radius: 6px 6px 0 0;
  font-size: 16px;
  line-height: 16px;
  cursor: move;
}

.close {
  cursor: pointer;
}

.content {
  overflow: auto;
  background: var(--antd-dropdown-menu-bg);
  padding: 20px;
  margin-top: -1px;
  height: calc(100vh - 100px);
}
