.customMarkdown {
  a {
    color: #1a7aff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 20px 0 0px;
    padding: 0 0 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
    color: #262626;
  }
  mark {
    background: #ffee7d 45%;
  }
  h1:hover a,
  h2:hover a,
  h3:hover a,
  h4:hover a,
  h5:hover a,
  h6:hover a {
    text-decoration: none;
  }

  h1 tt,
  h1 code {
    font-size: inherit;
  }

  h2 tt,
  h2 code {
    font-size: inherit;
  }

  h3 tt,
  h3 code {
    font-size: inherit;
  }

  h4 tt,
  h4 code {
    font-size: inherit;
  }

  h5 tt,
  h5 code {
    font-size: inherit;
  }

  h6 tt,
  h6 code {
    font-size: inherit;
  }

  h1 {
    font-size: 28px;
    color: black;
  }

  h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
    margin-top: 12px;
  }

  h6 {
    color: #777777;
    font-size: 14px;
    margin-top: 12px;
  }

  p,
  blockquote,
  dl,
  li,
  table {
    margin: 15px 0;
  }

  hr {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
  }

  a:first-child h1,
  a:first-child h2,
  a:first-child h3,
  a:first-child h4,
  a:first-child h5,
  a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
  }

  h1 p,
  h2 p,
  h3 p,
  h4 p,
  h5 p,
  h6 p,
  p {
    /* margin-top: 0; */
    color: #595959;
    margin: 0 0 4px;
    padding-bottom: 16px;
  }

  ol li {
    margin: 0;
  }

  ol li ol,
  ul {
    padding-left: 40px;
  }

  ul,
  ol {
    padding-bottom: 16px;
    margin-bottom: 4px;
  }
  ul li {
    margin: 4px 0;
  }
  p + ul,
  ul li ul > li:first-child {
    margin-top: 4px;
  }
  h1 + ul,
  h2 + ul,
  h3 + ul,
  h4 + ul,
  h5 + ul,
  h6 + ul {
    margin-top: 0;
  }

  ul :first-child,
  ol :first-child {
    margin-top: 0;
  }

  ul :last-child,
  ol :last-child {
    margin-bottom: 0;
  }

  li > p {
    margin: 0 0 4px;
    padding: 0 0 16px;
  }

  li > p:first-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  li:last-child > h1,
  li:last-child > h2,
  li:last-child > h3,
  li:last-child > h4,
  li:last-child > h5,
  li:last-child > h6 {
    padding-bottom: 0px;
  }

  ul li img:first-child {
    margin-top: 16px;
  }

  li > ol:last-child,
  li > ul:last-child {
    padding-bottom: 0;
  }
  li > p:first-child + p {
    margin: 20px 0 20px;
    padding: 0;
  }
  li > p:first-child + blockquote {
    margin-bottom: 20px;
  }
  li > blockquote:last-child {
    margin-top: 20px;
  }

  li > blockquote:first-child {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  li > blockquote {
    margin-left: 12px;
  }

  li > pre:first-child {
    margin: 16px 0 20px;
  }

  dl {
    padding: 0;
  }

  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
  }

  dl dt:first-child {
    padding: 0;
  }

  dl dt > :first-child {
    margin-top: 0;
  }

  dl dt > :last-child {
    margin-bottom: 0;
  }

  dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
  }

  dl dd > :first-child {
    margin-top: 0;
  }

  dl dd > :last-child {
    margin-bottom: 0;
  }
  h1 + blockquote,
  h2 + blockquote,
  h3 + blockquote,
  h4 + blockquote,
  h5 + blockquote,
  h6 + blockquote {
    margin-top: 8px;
  }

  p + blockquote {
    margin-top: 4px;
  }

  p + ul,
  p + ol {
    margin-top: 0px;
  }
  blockquote {
    border-left: 6px solid #bcc0c5;
    padding: 16px 12px;
    color: #777777;
    margin: 20px 0;
  }

  blockquote > blockquote {
    margin-left: 12px;
  }

  blockquote > :first-child {
    margin-top: 0;
  }

  blockquote > h1:first-child,
  blockquote > h2:first-child,
  blockquote > h3:first-child,
  blockquote > h4:first-child {
    padding-top: 20px;
  }

  blockquote > h5:first-child,
  blockquote > h6:first-child {
    padding-top: 12px;
  }

  blockquote > blockquote:last-child {
    padding-bottom: 16px;
  }

  blockquote > :last-child {
    padding-bottom: 0px;
    margin-bottom: 0;
  }

  table {
    padding: 0;
  }

  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
    word-break: break-word;
  }

  table tr th :first-child,
  table tr td :first-child {
    margin-top: 0;
  }

  table tr th :last-child,
  table tr td :last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  code,
  tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
  }
  code {
    color: #b30056;
    background: #ffe6ec;
  }
  pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
    color: var(--antd-text-color);
  }

  pre {
    background-color: rgba(26, 122, 255, 0.06);
    border: 1px solid rgba(26, 122, 255, 0.08);
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 16px 12px;
    border-radius: 3px;
    margin: 20px 0 20px;
  }

  pre code,
  pre tt {
    background-color: transparent;
    border: none;
  }
}

html[data-theme="dark-v2"] {
  .customMarkdown {
    a {
      color: var(--color-brand);
      &:hover,
      &:focus {
        color: var(--color-brand-hover);
      }
      &:active {
        color: var(--color-brand-active);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-header-text);
    }

    p {
      color: var(--color-normal-text);
    }

    mark {
      background: #5a481b;
    }

    h2,
    hr {
      border-bottom: 1px solid var(--color-border-divider-line);
    }

    blockquote {
      border-left: 6px solid #bcc0c5;
      color: var(--color-normal-text);
    }

    code,
    tt {
      border: 1px solid var(--color-border-divider-line);
      background-color: var(--color-fill-bg-base-1);
    }

    pre {
      background-color: rgba(63, 117, 221, 0.06);
      border: 1px solid rgba(63, 117, 221, 0.08);
    }

    code {
      color: #f3679a;
    }
    pre code {
      border: none;
      background: transparent;
    }

    table tr {
      border-top: 1px solid var(--color-border-divider-line);
      background-color: rgba(255, 255, 255, 0);
    }

    table tr:nth-child(2n) {
      background-color: var(--color-fill-bg-base-1);
    }

    table tr th {
      border: 1px solid var(--color-border-divider-line);
    }

    table tr td {
      border: 1px solid var(--color-border-divider-line);
    }
  }
}
