.settingContainer {
  width: 260px;
}

.headerContainer {
  display: grid;
  height: 42px;
  align-items: center;
  padding: 0 0 0 14px;
  border-bottom: 1px solid var(--theme-gray-border-color);
}

.settingItem {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}
