.uploadContainer {
  :global(.ant-upload-list .ant-tooltip) {
    display: none;
  }

  :global(.anticon-download) {
    display: none;
  }

  :global(.ant-upload-picture-card-wrapper) {
    display: block;
  }

  :global(.ant-upload-list-picture-card-container
      .ant-upload-list-item-list-type-picture-card) {
    background: var(--antd-upload-list-type-picture-card-bg);
  }

  :global(.ant-upload-select-picture-card) {
    background: var(--antd-upload-select-picture-card-bg);
  }

  /* text style */
  :global(.ant-upload-list-text) {
    margin-top: 6px;
  }

  :global(.ant-upload-list-item-list-type-text) {
    /* 上传失败 */
    &:global(.ant-upload-list-item-error) {
      :global(.ant-upload-list-item-name) {
        color: var(--antd-upload-error-color) !important;
      }

      :global(.ant-upload-list-item-card-actions-btn .anticon) {
        position: initial;
        opacity: 1;
        color: var(--antd-upload-error-color) !important;
      }
    }

    &:hover {
      background-color: var(--theme-blue-background);

      :global(.ant-upload-list-item-info) {
        background-color: inherit;
      }
    }

    /* 上传信息 */
    margin-top: 2px;
    padding: 5px 8px 5px 8px;
    height: auto;
    border-radius: 6px;

    :global(.ant-upload-list-item-info) {
      height: auto;
      padding: 0;
    }

    :global(.ant-upload-list-item-info > span) {
      height: auto;
      position: relative;

      /* 文件名 */
      :global(.ant-upload-list-item-name) {
        color: var(--color-auxiliary-text);
        overflow: inherit;
      }

      /* 删除按钮 */
      :global(.ant-upload-list-item-card-actions) {
        :global(.ant-upload-list-item-card-actions-btn) {
          &:hover {
            background-color: transparent;
          }

          :global(.anticon) {
            color: var(--text-color-disabled);
            font-size: 14px;

            &:hover {
              color: var(--color-error);
            }
          }
        }
      }
    }

    /* 进度条 */
    :global(.ant-upload-list-item-progress) {
      bottom: -4px;
      padding-left: 22px;
      width: calc(100% - 18px);
    }
  }

  /* picture style */
  :global(.ant-upload-list-item-list-type-picture) {
    background: var(--antd-upload-list-type-picture-bg);
    border-color: var(--antd-upload-list-type-picture-border-color);
    border-style: solid;

    &:hover {
      background: var(--antd-upload-list-type-picture-hover-bg);
      border-color: var(--antd-upload-list-type-picture-hover-bg);
      border-style: solid;

      :global(.ant-upload-list-item-card-actions-btn) {
        opacity: 1 !important;
      }
    }

    /* 上传中 */
    &:global(.ant-upload-list-item-uploading) {
      border-style: dashed;
    }

    /* 上传失败 */
    &:global(.ant-upload-list-item-error) {
      background: var(--antd-upload-list-type-picture-error-bg);
      border-color: var(--antd-upload-list-type-picture-error-border-color);
      border-style: solid;

      /* 右上角删除按钮 */
      :global(.ant-upload-list-item-card-actions-btn) {
        opacity: 1 !important;

        :global(.anticon) {
          position: initial;
          color: var(--antd-upload-error-color) !important;
        }
      }
    }

    /* 上传信息 */
    padding: 14px 20px 14px 20px;
    height: auto;

    :global(.ant-upload-list-item-info) {
      height: auto;
    }

    :global(.ant-upload-list-item-info > span) {
      height: auto;
      position: relative;

      /* 缩略图 */
      :global(.ant-upload-list-item-thumbnail) {
        width: 38px;
        height: 38px;
        top: 0;
        left: 0;

        :global(.ant-upload-list-item-image) {
          width: 100%;
          height: 100%;
        }
      }

      /* 文件名 */
      :global(.ant-upload-list-item-name) {
        margin-left: 4px;
        line-height: initial;

        .upload-file-main-info {
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;

          .upload-file-name {
            margin-right: 12px;
            color: var(--text-color-default);
            line-height: 20px;
          }

          .upload-file-size {
            color: var(--color-secondary-text);
            line-height: 17px;
            font-size: 12px;
          }
        }

        .upload-file-else-info {
          margin-top: 4px;

          .upload-file-error-info {
            display: inline-block;
            color: var(--color-error);
            height: 18px;
            line-height: 18px;
          }
        }
      }

      /* 右上角删除按钮 */
      :global(.ant-upload-list-item-card-actions) {
        position: absolute;
        top: 0;
        right: 0;

        :global(.ant-upload-list-item-card-actions-btn) {
          opacity: 0;

          &:hover {
            background-color: transparent;
          }

          :global(.anticon) {
            color: var(--text-color-disabled);
            font-size: 16px;

            &:hover {
              color: var(--color-error);
            }
          }
        }
      }
    }

    /* 进度条 */
    :global(.ant-upload-list-item-progress) {
      padding-left: 50px;
      bottom: 14px;
      width: calc(100% - 40px);
    }
  }

  /* draggableUpload style*/
  :global(.ant-upload-drag) {
    background: var(--antd-upload-drag-bg) !important;
    border-color: var(--antd-upload-drag-border-color) !important;

    &:hover {
      background: var(--antd-upload-drag-hover-bg) !important;
      border-color: var(--antd-upload-drag-hover-border-color) !important;
    }

    &:global(.ant-upload-drag-hover) {
      background: var(--antd-upload-drag-hover-bg) !important;
      border-color: var(--antd-upload-drag-hover-border-color) !important;
    }

    :global(.ant-upload-drag-icon .easyops-icon) {
      font-size: 3.2em;
    }

    :global(.ant-upload-btn) {
      padding: 24px 0 !important;

      :global(.ant-upload-drag-icon) {
        margin-bottom: 10px !important;
      }
    }
  }
}

.textContainer {
  margin-bottom: 10px;
}

.pictureCardImage {
  width: 86px;
  height: 86px;
  object-fit: cover;
}

.uploadContainerDisplayNone {
  display: none;
}

.avatar {
  margin-right: 10px;
  &.defaultIcon {
    background-color: var(--color-brand);
    vertical-align: middle;
  }
}
