.searchBox {
  padding: 5px 10px;
}

.tree {
  list-style: none;
  margin: 0;
  padding: 0;
}

.placeholder {
  color: var(--antd-input-placeholder-color);
  padding: 0 15px;
}

.nodeLabelRow {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: 22px;
}

.nodeLabelRow:hover,
.nodeLabelRow.hover {
  background-color: #2a2d2e;
}

.nodeLabelRow:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: #007fd4;
}

.nodeLabelRow.active:focus {
  background-color: #094771;
}

.nodeLabel {
  display: flex;
  align-items: center;
  min-width: 0;
}

.nodeAction,
.nodeAction:hover,
.nodeLabelRow .nodeLabel {
  color: #c5c5c5;
}

.nodeLabelRow:focus .nodeLabel {
  color: #fff;
}

.nodeLabelRow.matched .nodeLabel {
  color: var(--palette-orange-6);
}

.nodeLabelRow.active {
  background-color: #37373d;
}

.nodeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  width: 22px;
  padding-right: 6px;
  line-height: 1;
  flex-shrink: 0;
}

.nodeName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nodeLabelRow:not(:hover) .nodeActionsBar {
  display: none;
}
