.searchBox {
  position: sticky;
  top: 0;
  background-color: #181818;
  padding: 5px 10px 10px;
  z-index: 1;
  :global(.ant-input-affix-wrapper) {
    background-color: #181818;
    border: 1px solid rgba(255, 255, 255, 0.2);
    :global(input.ant-input) {
      background-color: #181818;
    }
  }
}

.tree {
  list-style: none;
  margin: 0;
  padding: 0;
}

.placeholder {
  color: var(--antd-input-placeholder-color);
  padding: 0 15px;
}

.nodeLabelRow {
  display: flex;
  cursor: pointer;
  height: 22px;
  padding-right: 10px;
}

.nodeLabelRow:hover,
.nodeLabelRow.hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.nodeLabelRow:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: #1a7aff;
}

.nodeLabelRow.active:focus {
  background-color: #1a7aff;
}

.nodeLabel {
  display: flex;
  align-items: center;
  min-width: 0;
  flex: 1;
}

.unreachable {
  opacity: 0.3;
}

.nodeAction,
.nodeAction:hover,
.nodeLabelRow .nodeLabel {
  color: #c5c5c5;
}

.nodeLabelRow:focus .nodeLabel {
  color: #fff;
}

.nodeLabelRow.matched .nodeLabel {
  color: var(--palette-orange-6);
}

.nodeLabelRow.active {
  background-color: rgba(255, 255, 255, 0.08);
}

.nodeIconWrapper {
  display: flex;
  width: 24px;
  flex-shrink: 0;
}

.nodeIcon,
.collapseIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  font-size: 13px;
}

.collapseIcon {
  display: none;
}

.nodeLabelRow.collapsed .nodeIcon,
.nodeLabelRow.collapsible .nodeIconWrapper:hover .nodeIcon {
  display: none;
}

.nodeLabelRow.collapsed .collapseIcon,
.nodeLabelRow.collapsible .nodeIconWrapper:hover .collapseIcon {
  display: flex;
}

.nodeLabelRow.collapsible .nodeIcon:hover,
.nodeLabelRow.collapsible .collapseIcon:hover {
  background-color: rgba(90, 93, 94, 0.31);
}

.nodeName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nodeLabelRow:not(:hover, .fixedActions) .nodeActionsBar {
  display: none;
}

.badge {
  margin: 0 3px;
}

.collapsed + .tree {
  display: none;
}

.hightlight {
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: #fcd93f;
}
