.awards {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 500;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  position: relative;
  border-width: 4px;
  border-style: solid;
  z-index: 1;
  span {
    font-size: 11px;
  }
}

.topThree {
  font-size: 16px;
  line-height: 30px;
}

.small {
  height: 24px;
  width: 24px;
  font-size: 12px;
  border-width: 2px;
  line-height: 20px;
  span {
    font-size: 6px;
  }
}

.medalGold {
  text-shadow: 0 0 4px #9d6c04;
  background: linear-gradient(151deg, #ffb6a6 0%, #f53832 100%);
  border-color: #fe3f4980;
  overflow: hidden;
  background-clip: content-box;
}

.medalSilver {
  border-color: #fe782e80;
  text-shadow: 0px 0px 4px #98a6ad;
  background: linear-gradient(151deg, #fbdb6f 0%, #f67915 100%);
  background-clip: content-box;
}
.medalBronze {
  border-color: #ffd10180;
  text-shadow: 0 0 4px #7d4604;
  background: linear-gradient(151deg, #fbf644 0%, #feba1c 100%);
  background-clip: content-box;
}

.normalAwards {
  background: #ebf3fd;
  color: #5685eb;
  border-color: #ebf3fd;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-gap: 10px;
  padding-bottom: 33px;
  padding-left: 24px;
  justify-content: space-between;
  .leftCell {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #262626;
  }
  .rightCell {
    font-size: 17px;
    color: #262626;
  }
}

.trendBar {
  display: grid;
  grid-column-gap: 0px;
  height: 16px;
  width: 16px;
  span {
    border-radius: 2px 2px 0 0;
  }
}

.yellowBar {
  grid-row-start: 30;
  grid-row-end: 101;
  background-color: #fcca1e;
}

.blueBar {
  grid-row-start: 1;
  grid-row-end: 101;
  background-color: #2953ff;
}

.redBar {
  grid-row-start: 50;
  grid-row-end: 101;
  background-color: #ff354a;
}
