.card {
  border-radius: var(--editor-brick-border-radius);
  border: 1px solid var(--editor-brick-stroke-color);
  background: #fff;
  display: grid;
  grid-template-columns: 1f;
  grid-gap: 1px;
  padding: 8px;
}

.row {
  display: grid;
  grid-gap: 1px;
}

.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.cell:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 12px;
  bottom: 12px;
  width: 1px;
  background: var(--editor-brick-stroke-color);
}

.row:not(:first-child) > .cell::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 12px;
  right: 12px;
  height: 1px;
  background: var(--editor-brick-stroke-color);
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--editor-brick-skeleton-bg);
}

.text {
  width: 66px;
  height: 13px;
  margin-top: 13px;
  background: var(--editor-brick-skeleton-bg-light);
}
