.builderContainer {
  overflow: hidden;
  background-color: #f3f4f7;
  height: calc(100vh - 148px);
  display: flex;
  flex-direction: column;
}

.fullscreen {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
}

.builderWrapper {
  display: flex;
  overflow: hidden;
  flex: 1;
}
