.builderOverlay {
  height: calc(100vh - 148px);
  overflow: hidden;
}

.fullscreen {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  background: rgba(11, 26, 47, 0.45);
  padding: var(--editor-brick-overlay-padding);
}

.builderContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #f3f4f7;
  border-radius: var(--card-default-border-radius);
}

.builderBodyWrapper {
  display: flex;
  overflow: hidden;
  flex: 1;
}
