presentational-bricks\.brick-link {
  a {
    vertical-align: middle;
    color: var(--antd-btn-link-color);

    &:hover,
    &:focus {
      color: var(--antd-btn-link-hover-color);
    }

    &.active,
    &:active {
      color: var(--antd-btn-link-active-color);
    }
  }
}

.externalIcon {
  margin-left: 6px;
  color: var(--color-disabled-text);
  display: inline-block;
}

.disabledLink {
  color: var(--color-disabled-text);
  cursor: not-allowed;
}

.textLink {
  color: var(--text-color-default);
  &:hover,
  &:focus,
  &.active,
  &:active {
    color: var(--text-color-default);
    text-decoration: underline;
  }
}
.underLine:hover {
  border-bottom: 1px solid var(--antd-btn-link-hover-color);
}
