.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;

  p {
    margin-bottom: 0;
  }

  .leftArea {
    flex: 1;

    .title {
      line-height: 20px;
      margin-bottom: 6px;
    }

    .description,
    .dateTime {
      line-height: 17px;
      font-weight: var(--antd-timeline-datetime-font-weight);
    }

    .description {
      color: var(--antd-timeline-description-color);
      font-size: var(--antd-timeline-description-font-size);
      margin-bottom: 4px;
      white-space: pre-wrap;
    }

    .dateTime {
      color: var(--antd-timeline-datetime-color);
      font-size: var(--antd-timeline-datetime-font-size);
    }

    .link {
      cursor: pointer;

      color: var(--antd-timeline-title-color);
      font-weight: var(--antd-timeline-title-font-weight);
      font-size: var(--antd-timeline-title-font-size);

      &:hover {
        color: var(--antd-timeline-title-color-hover);
      }
    }
  }

  .rightArea {
    .time {
      line-height: 17px;
      font-weight: var(--antd-timeline-extension-font-weight);
      font-size: var(--antd-timeline-extension-font-size);
      color: var(--antd-timeline-extension-color);
      margin-right: 24px;
    }

    .dateContainer {
      position: absolute;
      left: -75px;
      top: 0;
      text-align: center;

      .month {
        line-height: 17px;
        font-weight: var(--antd-timeline-extension-font-weight);
        font-size: var(--antd-timeline-extension-font-size);
        color: var(--antd-timeline-extension-color);
      }

      .day {
        line-height: 25px;
        font-weight: var(--antd-timeline-extension-day-font-weight);
        font-size: var(--antd-timeline-extension-day-font-size);
        color: var(--antd-timeline-extension-day-color);
      }
    }
  }
}

.groupName {
  font-weight: var(--antd-timeline-extension-font-weight);
  font-size: var(--antd-timeline-extension-font-size);
  color: var(--antd-timeline-extension-color);
  line-height: 20px;
  margin-left: 9px;
}

.brickTimeline {
  padding: 20px 0 0 50px;

  :global {
    .ant-timeline-item-head {
      width: 8px;
      height: 8px;
    }

    .ant-timeline-item-last {
      padding-bottom: 5px;
    }

    .ant-timeline-item-tail {
      color: var(--antd-timeline-item-tail-color);
      border-width: var(--antd-timeline-item-tail-border-width);
      top: 18px;
      left: 3px;
      height: calc(100% - 26px);
    }

    .ant-timeline-item-head-blue {
      color: var(--antd-timeline-item-color-blue);
      border-color: var(--antd-timeline-item-color-blue);
      background-color: var(--antd-timeline-item-color-blue);
    }

    .ant-timeline-item-head-green {
      color: var(--antd-timeline-item-color-green);
      border-color: var(--antd-timeline-item-color-green);
      background-color: var(--antd-timeline-item-color-green);
    }

    .ant-timeline-item-head-red {
      color: var(--antd-timeline-item-color-red);
      border-color: var(--antd-timeline-item-color-red);
      background-color: var(--antd-timeline-item-color-red);
    }

    .ant-timeline-item-head-gray {
      color: var(--antd-timeline-item-color-gray);
      border-color: var(--antd-timeline-item-color-gray);
      background-color: var(--antd-timeline-item-color-gray);
    }

    .ant-timeline-item:hover {
      .ant-timeline-item-head-blue,
      .ant-timeline-item-head-green,
      .ant-timeline-item-head-red,
      .ant-timeline-item-head-gray {
        transform: scale(1.5);

        &:after {
          content: "";
          position: absolute;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: var(--antd-timeline-item-dot-color-hover);
          top: 50%;
          left: 50%;
          transform: translate(-1.5px, -1.5px);
        }
      }

      .ant-timeline-item-head-blue {
        box-shadow: 0px 0px 8px 0px var(--antd-timeline-item-color-blue);
      }

      .ant-timeline-item-head-green {
        box-shadow: 0px 0px 8px 0px var(--antd-timeline-item-color-green);
      }

      .ant-timeline-item-head-red {
        box-shadow: 0px 0px 8px 0px var(--antd-timeline-item-color-red);
      }

      .ant-timeline-item-head-gray {
        box-shadow: 0px 0px 8px 0px var(--antd-timeline-item-color-gray);
      }
    }
  }
}
