.dynamicForm {
  --operator-columns-width: 30px;

  .operatorBtn {
    color: var(--color-secondary-text);
    font-size: 20px;
    padding: 0;
    padding-left: 4px;
    &:hover {
      color: var(--color-auxiliary-text);
    }
    &[disabled] {
      color: var(--text-color-disabled);
    }
  }

  &.showBackground {
    background-color: var(--color-fill-bg-base-1);
    border-radius: 6px;
    padding: 16px;
  }

  .headRow {
    padding-right: var(--operator-columns-width);
  }

  .operatorColumns {
    flex-basis: var(--operator-columns-width);
  }

  .removeColumn {
    min-width: 38px;
  }

  :global(.ant-legacy-form-item) {
    margin-bottom: 10px;
  }

  .addButton {
    margin-right: 32px !important;
  }
}
