.toolboxPane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  color: var(--text-color-default);
}

.toolboxPaneHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 42px;
  padding: 0 12px;
  color: #fff;
}

.toolboxPaneTitle {
}

.toolboxPaneBody {
  flex: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
