:global(.ant-alert.ant-alert-closable).closeOnce {
  padding-right: 96px;
}
.noBorderRadio {
  border-radius: 0;
}

:global(.ant-alert) {
  border: none !important;
}
:global(.ant-alert-message) {
  line-height: 22px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-weight-400);
  color: var(--color-normal-text);
}

:global(.ant-alert-description) {
  font-size: var(--normal-font-size);
  font-weight: var(--font-weight-400);
  color: var(--color-normal-text);
}
