.wrapper {
  border-radius: var(--editor-brick-border-radius);
}

.hasChildren {
  min-height: var(--editor-brick-base-height);
  border: 1px solid var(--editor-brick-stroke-color);
  padding: var(--editor-brick-gap);
}

.hasChildren > * + * {
  margin-top: var(--editor-brick-gap);
}

.noChildren {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: var(--editor-brick-base-height);
  background: var(--editor-brick-skeleton-bg-light);
}

.icon {
  width: 20px;
  flex-shrink: 0;
}

.provider > .icon {
  color: var(--theme-orange-color);
}

.template > .icon {
  color: var(--theme-red-color);
}

.portal > .icon {
  color: var(--theme-purple-color);
}

.name {
  flex: 1;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.default > .name {
  text-align: center;
}
