.treeWrapper {
  overflow: auto;
  flex-grow: 1;
  padding: 10px 10px 6px;
  background: "var(--antd-component-background)";
}

.treeWithSuffixWrapper {
  overflow: auto;
  flex-grow: 1;
  padding: 10px 10px 6px;
  background: "var(--antd-component-background)";

  .suffixBrickWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    > span:first-child {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 70px;
      white-space: nowrap;
    }
  }

  :global(.ant-tree-treenode) {
    width: 100%;
  }

  :global(.ant-tree-node-content-wrapper) {
    width: 100%;
  }

  :global(.ant-tree-treenode-motion) {
    width: 100%;
  }
}

.matchText {
  color: #0071eb;
  background-color: #ebf3fd;
}
.titleSpace {
  :global .ant-tree-treenode:nth-child(2) {
    margin-bottom: 8px;
  }
}
.allOrDefault {
  font-weight: 600;
}
