.treeWrapper {
  overflow: auto;
  flex-grow: 1;
  background: var(--color-fill-bg-container-4);
  border-radius: var(--larger-border-radius);
  box-shadow: var(--connected-overlay-shadow);

  &.withSuffix {
    .suffixBrickWrapper {
      display: flex;
      justify-content: space-between;

      > span:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    :global(.ant-tree-list-holder-inner) {
      align-items: normal;
    }

    :global(.ant-tree-node-content-wrapper) {
      display: flex;
    }

    :global(.ant-tree-iconEle) {
      flex-shrink: 0;
    }

    :global(.ant-tree-node-content-wrapper),
    :global(.ant-tree-title) {
      flex-grow: 1;
      min-width: 0;
    }
  }
}

.matchText {
  color: var(--color-brand);
  background: var(--menu-dropdown-bg);
}
.matchTextTotal {
  color: var(--color-brand);
}
.titleSpace {
  :global .ant-tree-treenode:nth-child(2) {
    margin-bottom: 8px;
  }
}
.allOrDefault {
  font-weight: 600;
}
