.builderToolbox {
  flex-shrink: 0;
  display: flex;
  background-color: #091732;
  position: relative;
}

.tabList {
  list-style: none;
  margin: 0;
  padding: 3px 0;
  width: 36px;
  background-color: rgba(232, 232, 232, 0.1);
}

.tabLink {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: none;
  color: #bfbfbf;
  background-color: rgba(255, 255, 255, 0.12);
}

.tabActive > .tabLink {
  background-color: #167be0;
  color: #fff;
}

.tabContent {
  flex: auto;
  min-width: 0;
}

.toolboxResizer {
  position: absolute;
  width: 4px;
  right: -2px;
  top: 0;
  bottom: 0;
  cursor: col-resize;

  &:hover {
    background: #007fd4;
    transition: background 0.1s 0.3ms ease-out;
  }
}
