.wrapper,
.areaContainer {
  min-height: var(--editor-brick-base-height);
}

.wrapper {
  display: grid;
}

.outlineEnabled > .areaContainer {
  border-radius: 4px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23d9d9d9' stroke-width='2' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}
