.formSlideItem {
  flex: 1;
  > .slider {
    position: relative;
    height: 8px;
    border-radius: 4px;
    background-color: var(--editor-brick-skeleton-bg-light);
    &::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      top: -5px;
      left: 50%;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
    }
  }
}
