.handler {
  display: flex;
  position: relative;
  padding: 0 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

.targetIsAvailable {
  cursor: pointer;
}

.handlerIcon {
  width: 22px;
  display: flex;
  align-items: center;
}

.handlerBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 12px;
  line-height: 14px;
  min-width: 0;
}

.handlerTitle {
  color: var(--antd-text-color-secondary);
}

.handlerContent {
  text-indent: 1em;
}

.isTargetOfSelf .handlerContent {
  color: var(--theme-green-color);
}

.targetIsAvailable .handlerContent {
  color: var(--antd-link-color);
}

.targetIsAvailable:hover .handlerContent {
  color: var(--antd-link-hover-color);
}

.handlerTypeOfBuiltin .handlerIcon {
  color: var(--theme-cyan-color);
}

.handlerTypeOfUseProvider .handlerIcon {
  color: var(--theme-orange-color);
}

.handlerTypeOfExecute .handlerIcon {
  color: var(--theme-blue-color);
}

.handlerTypeOfSetProps .handlerIcon {
  color: var(--theme-purple-color);
}

.handlerTypeOfUnknown .handlerIcon {
  color: var(--theme-red-color);
}
