.dropdownMenuItem {
  color: var(--app-bar-dropdown-menu-item-color);
  &:hover {
    background-color: var(--app-bar-dropdown-menu-item-hover-bg);
  }

  .dropdownBtn {
    margin: -5px -12px;
    padding: 5px 12px;
  }
}
.dropdownSubMenuItemSelected {
  background-color: var(--app-bar-dropdown-menu-item-hover-bg);
  color: var(--theme-blue-color);
  &::after {
    content: "✓";
    display: inline-block;
    padding: 0 5px;
  }
}
