.searchBtn {
  color: var(--color-secondary-text);
  background-image: none;
  &:hover,
  &:focus {
    color: var(--color-normal-text);
  }
}

.searchInputContainer {
  display: inline-block;
  position: relative;
  > .searchInput {
    padding-left: 12px;
    padding-right: 36px;
    border-radius: 6px;
    min-width: 220px;
  }
  > .searchBtn {
    position: absolute;
    right: 0;
    top: 0;
    &:not(:global(.ant-btn-circle)) {
      border-radius: 0 6px 6px 0;
    }
  }
}

.largeSearchInputContainer {
  :global(.ant-btn:not(.ant-btn-circle):not(.ant-btn-circle-outline).ant-btn-icon-only) {
    padding-right: 20px;
    padding-left: 20px;
    width: 58px;
  }
}

.roundSearchInputContainer {
  > .searchInput {
    border-radius: 37px;
  }
  > .searchBtn {
    position: absolute;
    right: 6px;
    top: 4px;
  }
}

.roundSmallSearchInputContainer {
  > .searchBtn {
    right: 3px;
    top: 1.5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}

.roundExtraLargeInputContainer {
  > .searchInput {
    height: 56px;
    padding-left: 30px;
  }
  > .searchBtn {
    height: 44px;
    width: 44px;
    top: 6px;
  }
}
.selectSearchBox {
  width: 100%;
  display: inline-block;
  background: var(--color-fill-bg-container-1);
  height: 56px;
  border-radius: 37px;
}
.selectType {
  :global(.ant-select-selector) {
    border-radius: 37px 0 0 37px !important;
    height: 56px !important;
  }
  :global(.ant-select-selection-item) {
    padding-left: 10px !important;
    line-height: 56px !important;
  }
}

.selectSearchInputContainer {
  display: inline-block;
  position: relative;
  width: calc(100% - 120px);
  > .searchInput {
    height: 56px;
    padding-left: 12px;
    border-radius: 0 37px 37px 0;
  }
  > .searchBtn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    &:not(:global(.ant-btn-circle)) {
      border-radius: 0 6px 6px 0;
    }
  }
}
.searchBoxStyleTypeDefault {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  height: 40px;
  .selectType {
    :global(.ant-select-selector) {
      height: 40px !important;
    }
    :global(.ant-select-selection-item) {
      line-height: 40px !important;
    }
  }

  .selectSearchInputContainer {
    > .searchInput {
      height: 40px;
    }
  }
}
