.titleWrapper {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.titleWrapper .titleContent {
  margin: 0 5px 2px 0;
  color: #262626;
  cursor: pointer;
}
.titleWrapper .titleContent:hover {
  color: #0071eb;
}
.titleWrapper .titleContent,
.subTitleWrapper .subTitleContent {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.subTitleWrapper {
  margin-bottom: 5px;
}
.descriptionWrapper {
  display: flex;
  font-size: 12px;
  align-items: center;
}

.descriptionWrapper .descriptionContent {
  margin-top: 2px;
  color: #8c8c8c;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
