.titleWrapper {
  font-size: var(--sub-title-font-size);
  font-weight: var(--font-weight-500);
  display: flex;
  align-items: center;
}
.titleWrapper .titleContent,
.titleWrapper .titleContentUrl {
  margin: 0 5px 2px 0;
  color: var(--color-header-text);
}
.titleWrapper .titleContentUrl:hover {
  color: var(--text-color-link);
  cursor: pointer;
}
.titleWrapper .titleContent,
.subTitleWrapper .subTitleContent {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.subTitleWrapper {
  margin-bottom: 5px;
}
.descriptionWrapper {
  display: flex;
  font-size: var(--auxiliary-font-size-small);
  align-items: center;
}

.descriptionWrapper .descriptionContent {
  margin-top: 2px;
  color: var(--color-secondary-text);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
