.menuIcon {
  margin-right: 8px;
}

.customButtonsContainer {
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: column;
  align-items: center;

  .moreButton {
    padding: 0 8px;
  }

  .noShapeButton {
    border: 0;
    height: auto;
  }

  :global(.ant-btn) {
    :global(.anticon) {
      vertical-align: middle;
    }
  }

  .circleShapeButton {
    border-radius: 16px;
  }
}

.dropdownBtnIconContainer {
  :global(.anticon) {
    float: left;
    min-width: 12px;
    margin-top: 5px;
    margin-right: 8px;
    font-size: 12px;
    vertical-align: -0.1em;
  }
}

.iconButton {
  &:global(.ant-btn) {
    font-size: 16px;
    color: var(--antd-btn-special-icon-type-color);
    background: var(--antd-btn-special-icon-type-bg);
    border: none;

    &:hover {
      color: var(--antd-btn-special-icon-type-hover-color);
      background: var(--antd-btn-special-icon-type-hover-bg);
    }

    &:active {
      color: var(--antd-btn-special-icon-type-active-color);
      background: var(--antd-btn-special-icon-type-active-bg);
    }

    &[disabled] {
      color: var(--antd-btn-special-icon-type-disabled-color);
      background: var(--antd-btn-special-icon-type-disabled-bg);
    }

    :global(.anticon) {
      vertical-align: -0.125em;
    }

    &:global(.ant-btn-sm) {
      font-size: 14px;
      width: 28px;
    }

    &:global(.ant-btn-lg) {
      font-size: 18px;

      :global(.anticon) {
        vertical-align: middle;
      }
    }

    &:global(.ant-btn-dangerous):hover {
      color: var(--theme-red-color);
      background: var(--theme-red-background);
    }
  }
}

.moreIconButton {
  background: var(--antd-btn-special-icon-type-bg);
  color: var(--antd-btn-special-icon-type-color);
  border: none;
  border-radius: 16px;

  &:hover {
    color: var(--antd-btn-special-icon-type-hover-color);
    background: var(--antd-btn-special-icon-type-hover-bg);
  }

  &[disabled] {
    color: var(--antd-btn-special-icon-type-disabled-color);
    background: var(--antd-btn-special-icon-type-disabled-bg);
  }

  &:global(.ant-btn) {
    font-size: 16px;

    :global(.anticon) {
      vertical-align: -0.125em;
    }
  }

  &:global(.ant-btn-sm) {
    font-size: 14px;
    width: 28px;
  }

  &:global(.ant-btn-lg) {
    font-size: 18px;

    :global(.anticon) {
      vertical-align: middle;
    }
  }
}

.dropdownMenuItem {
  &:not(:global(.ant-dropdown-menu-item-disabled), :global(.ant-dropdown-menu-item-danger)):hover {
    background-color: var(--app-bar-dropdown-menu-item-hover-bg);
  }
}

.dropdownBtn {
  position: relative;
  margin: -5px -12px;
  padding: 5px 12px;
}
.dropdownBtnNormal > a {
  color: var(--antd-text-color);
}

.dropdownBtnLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
