.launchpadLink {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launchpadIcon {
  vertical-align: top;
  filter: grayscale(100%);
  opacity: 0.8;
}

.launchpadLink:hover .launchpadIcon {
  color: var(--color-brand-hover) !important;
  filter: none;
  opacity: 1;
}
