.rootNodeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 4px;
}

.alias {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.downIcon {
  position: relative;
  top: 2px;
}
