.generalCheckBox {
  :global(.ant-checkbox-wrapper + .ant-checkbox-wrapper) {
    margin-left: 16px;
  }
}

.checkboxColLayout {
  margin-bottom: -6px !important;

  :global(.ant-checkbox-wrapper) {
    width: 100%;
  }
}

.groupCollapse {
  :global(.ant-collapse-content > .ant-collapse-content-box) {
    padding-left: 40px;
  }
}

.iconCheckbox,
.disabledIconCheckbox {
  position: relative;
  display: inline-block;
  width: 104px;
  height: 104px;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;
}

.iconCustomCheckbox,
.disabledIconCustomCheckbox {
  width: 186px;
  height: 114px;
  margin: 0 15px 20px 0;
}

.disabledIconCheckbox,
.disabledIconCustomCheckbox {
  cursor: not-allowed;
  .content {
    .text {
      color: var(--antd-checkbox-custom-type-disabled-color);
    }
    :global(.anticon) {
      color: var(--antd-checkbox-custom-type-disabled-icon-color);
    }
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .text {
  font-size: 14px;
  color: var(--antd-checkbox-custom-type-color);
}

.content :global(.anticon) {
  color: var(--antd-checkbox-custom-type-icon-color);
}

.iconCustomCheckbox .text {
  margin-top: 8px;
}

.iconCustomCheckbox .inputBox {
  padding: 10px 10px 5px 5px;
}

.inputBox {
  padding: 5px;
  text-align: right;
  line-height: 15px;
}

.inputBox input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid var(--antd-checkbox-custom-type-item-border-color);
  top: 0;
  left: 0;
}

.iconCheckbox:hover input[type="checkbox"]::before {
  border: 1px solid var(--antd-checkbox-custom-type-item-hover-border-color);
}

.iconCheckbox input[type="checkbox"]:checked::before {
  border: 1px solid var(--antd-checkbox-custom-type-item-hover-border-color);
}

.iconCustomCheckbox:hover input[type="checkbox"]::before {
  border: 1px solid var(--antd-checkbox-custom-type-item-hover-border-color);
}

.iconCustomCheckbox input[type="checkbox"]:checked::before {
  border: 1px solid var(--antd-checkbox-custom-type-item-hover-border-color);
}
