.generalCheckBox {
  :global(.ant-checkbox-wrapper) {
    border-radius: 4px;
    padding: 2px 4px;

    &:hover {
      background: #ebf3fd;
    }
  }

  :global(.ant-checkbox-wrapper + .ant-checkbox-wrapper) {
    margin-left: 16px;
  }

  :global(.ant-checkbox-wrapper-checked) {
    background: #f5f5f5;
  }
}

.checkboxColLayout {
  margin-bottom: -6px !important;

  :global(.ant-checkbox-wrapper) {
    width: 100%;
  }
}

.groupCollapse {
  :global(.ant-collapse-content > .ant-collapse-content-box) {
    padding-left: 40px;
  }
}

.iconCheckbox,
.disabledIconCheckbox {
  position: relative;
  display: inline-block;
  width: 104px;
  height: 104px;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;
}

.disabledIconCheckbox {
  cursor: not-allowed;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .text {
  font-size: 14px;
  color: #595959;
}

.inputBox {
  padding: 5px;
  text-align: right;
  line-height: 15px;
}

.inputBox input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  top: 0;
  left: 0;
}

.iconCheckbox:hover input[type="checkbox"]::before {
  border: 1px solid #65b2ff;
}
