.workBenchActionList {
  display: flex;
  flex-direction: column;
  width: min-content;
  height: 100%;
  background-color: #4297ff;
}
html[data-theme="dark-v2"] .workBenchActionList,
[data-override-theme="dark-v2"] .workBenchActionList {
  background-color: #323237;
}
