@import "~@next-core/custom-antd-styles/src/mixin.less";
@import "~antd/lib/divider/style/index.less";
// --- 官方样式 ---
@import "~@ant-design/compatible/lib/form/style/index.less";
@import "~antd/lib/grid/style/index.less";
// --- 自定义样式 ---
@import "~@next-core/custom-antd-styles/src/var.less";
@import "~@next-core/custom-antd-styles/src/legacy-form.less";

.foldActive {
  display: block;
}
.foldInactive {
  display: none;
}
.foldContainer {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: var(--color-normal-text);
  font-weight: var(--font-weight-400);
  font-size: var(--normal-font-size);
}
