.appBar {
  z-index: 100;
  position: fixed;
  left: var(--menu-bar-width);
  right: 0;
  height: var(--app-bar-height);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 20px 0px rgba(128, 128, 128, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  transition: var(--launchpad-backdrop-transition);
}

.titleContainer {
  display: flex;
  align-items: center;
}

:global(.menu-bar-collapsed) .appBar {
  left: var(--menu-bar-collapsed-width);
}

:global(.launchpad-open) .appBar {
  filter: var(--launchpad-backdrop-filter);
}

:global(.first-rendered) .appBar {
  transition: left var(--menu-bar-collapse-transition-duration)
      var(--menu-bar-collapse-transition-timing-function),
    var(--launchpad-backdrop-transition);
}

.actionsContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
