.appBar {
  z-index: 100;
  position: fixed;
  left: var(--menu-bar-width);
  right: 0;
  height: var(--app-bar-height);
  background: var(--app-bar-bg);
  box-shadow: var(--app-bar-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  transition: var(--launchpad-backdrop-transition);
}

.titleContainer {
  display: flex;
  align-items: center;
}

:global(.menu-bar-collapsed) .appBar {
  left: var(--menu-bar-collapsed-width);
}

:global(.launchpad-open) .appBar {
  filter: var(--launchpad-backdrop-filter);
}

:global(.first-rendered) .appBar {
  transition: left var(--menu-bar-collapse-transition-duration)
      var(--menu-bar-collapse-transition-timing-function),
    var(--launchpad-backdrop-transition);
}

.actionsContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.dropdownMenuItem {
  color: var(--app-bar-dropdown-menu-item-color);
  &:hover {
    background-color: var(--app-bar-dropdown-menu-item-hover-bg);
  }

  .dropdownBtn {
    margin: -5px -12px;
    padding: 5px 12px;
  }
}
