.iconRadio {
  position: relative;
  display: inline-block;
  width: 104px;
  height: 104px;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;

  > input[type="radio"] {
    width: 0;
    height: 0;

    &:checked ~ .content {
      border-color: #0071eb;
      color: #0071eb;
    }
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    color: #595959;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
  }

  &:not(.disabledIconRadio):hover {
    .content {
      border-color: #65b2ff;
    }
  }
}

.circleIconRadio {
  position: relative;
  display: inline-block;
  width: auto;
  margin-right: 80px;
  text-align: center;
  cursor: pointer;
  > input[type="radio"] {
    width: 0;
    height: 0;
    &:checked ~ .circleIconContent,
    &:checked ~ .circleIconContent .circleIcon {
      border-color: #0071eb;
      color: #0071eb;
      border-width: 2px;
    }
  }
  .circleIconContent {
    color: #595959;
    .circleIcon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto auto 6px;
      background: #fff;
      border-radius: 50%;
      border: 1px solid #d9d9d9;
      width: 94px;
      height: 94px;
      font-size: 46px;
    }
  }

  &:not(.disabledIconRadio):hover {
    .circleIconContent {
      border-color: #65b2ff;
    }
  }
}

.disabledIconRadio {
  cursor: not-allowed;

  .content,
  .circleIconContent {
    background: #f5f5f5;
    border-color: #d9d9d9;
  }
}

.dashboardRadio {
  :global(.ant-radio-group) {
    border-radius: 6px;
    /* border: 1px solid #e5e9f1; */
    border: none;
    height: 32px;
    background-color: var(--antd-dashboard-radio-bg);
  }

  :global(.ant-radio-button-wrapper) {
    background: var(--antd-dashboard-radio-item-bg);
    padding: 0 28px;
    font-size: 14px;
    color: var(--antd-dashboard-radio-item-color);
    border: none;
    height: 28px;
    margin: 2px;
    &:global(:not(.ant-radio-button-wrapper-disabled)):hover {
      color: var(--antd-dashboard-radio-item-checked-color);
    }
  }

  :global(.ant-radio-button-wrapper-disabled) {
    color: var(--antd-dashboard-radio-item-disabled-color);
  }

  :global(.ant-radio-group-solid
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)) {
    &:focus-within {
      box-shadow: var(--antd-dashboard-radio-item-checked-shadow);
    }

    background: var(--antd-dashboard-radio-item-checked-bg);
    border-radius: 6px;
    color: var(--antd-dashboard-radio-item-checked-color);
    font-weight: var(--font-weight-500);
  }

  :global(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled, .ant-radio-button-wrapper-checked)::before) {
    background: #fff;
  }

  :global(.ant-radio-button-wrapper:first-child) {
    border-right: none;
    border-radius: 6px 0 0 6px;
  }

  :global(.ant-radio-button-wrapper:last-child) {
    border-radius: 0 6px 6px 0;
  }

  :global(.ant-radio-button-wrapper:not(:first-child, .ant-radio-button-wrapper-checked)::before) {
    display: none;
  }

  :global(.ant-radio-button-wrapper:not(:last-child, .ant-radio-button-wrapper-checked)::after) {
    position: absolute;
    top: 50%;
    right: -1px;
    display: block;
    box-sizing: content-box;
    width: 1px;
    height: 19px;
    line-height: 19px;
    background-color: var(--antd-border-color-base);
    transition: background-color 0.3s;
    content: "";
    transform: translateY(-50%);
  }

  :global(.ant-radio-button-wrapper-checked:not(:first-child)::before) {
    position: absolute;
    top: 50%;
    left: -4px;
    display: block;
    box-sizing: content-box;
    width: 1px;
    height: 19px;
    line-height: 19px;
    background-color: var(--antd-dashboard-radio-item-checked-border-color);
    transition: background-color 0.3s;
    content: "";
    transform: translateY(-50%);
  }

  :global(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover)::before {
    background-color: var(--antd-dashboard-radio-item-checked-border-color);
  }
}
