.iconRadio,
.disabledIconRadio {
  position: relative;
  display: inline-block;
  width: 104px;
  height: 104px;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;
}

.disabledIconRadio {
  cursor: not-allowed;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .text {
  font-size: 14px;
  color: #595959;
}

.iconRadio:hover input[type="radio"]::before {
  border: 1px solid #65b2ff;
}

.iconRadio > input[type="radio"]::before,
.disabledIconRadio > input[type="radio"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  top: 0;
  left: 0;
}

.iconRadio > input[type="radio"],
.disabledIconRadio > input[type="radio"] {
  width: 0;
  height: 0;
}

.iconRadio > input[type="radio"]:checked:before {
  border: 1px solid #0071eb;
}

.dashboardRadio {
  :global(.ant-radio-group) {
    border-radius: 6px;
    /* border: 1px solid #e5e9f1; */
    border: none;
    height: 32px;
    background-color: #f2f5f9;
  }

  :global(.ant-radio-button-wrapper) {
    background: #f0f3fa;
    padding: 0 30px;
    font-size: 14px;
    color: #777f99;
    border: none;
    height: 28px;
    margin: 2px;
  }

  :global(.ant-radio-group-solid
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)) {
    background: #ffffff;
    border-radius: 6px;
    color: #1a7aff;
  }

  :global(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled, .ant-radio-button-wrapper-checked)::before) {
    background: #fff;
  }

  :global(.ant-radio-button-wrapper:first-child) {
    border-right: none;
    border-radius: 6px 0 0 6px;
  }

  :global(.ant-radio-button-wrapper:last-child) {
    border-radius: 0 6px 6px 0;
  }
  :global(.ant-radio-button-wrapper:not(:first-child, .ant-radio-button-wrapper-checked)::before) {
    display: none;
  }
  :global(.ant-radio-button-wrapper:not(:last-child, .ant-radio-button-wrapper-checked)::after) {
    position: absolute;
    top: 50%;
    right: -1px;
    display: block;
    box-sizing: content-box;
    width: 1px;
    height: 19px;
    line-height: 19px;
    background-color: var(--antd-border-color-base);
    transition: background-color 0.3s;
    content: "";
    transform: translateY(-50%);
  }
  :global(.ant-radio-button-wrapper-checked::before) {
    position: absolute;
    top: 50%;
    left: -4px;
    display: block;
    box-sizing: content-box;
    width: 1px;
    height: 19px;
    line-height: 19px;
    background-color: #f2f5f9;
    transition: background-color 0.3s;
    content: "";
    transform: translateY(-50%);
  }
  :global(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover)::before {
    background-color: #f2f5f9;
  }
}
