.infoCard {
  margin-top: 20px;
  &:nth-child(1) {
    margin-top: 0;
  }
}
.infoCardWrapper {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #8c8c8c;
  box-sizing: border-box;
}

.infoCardMain {
  display: flex;
  align-items: center;
  flex: 0 1 70%;
  max-width: 70%;

  .infoCardDetail {
    margin-left: 24px;
    overflow: hidden;
    text-overflow: ellipsis;

    h5 {
      margin: 0;
      margin-bottom: 8px;
      color: #262626;
      font-size: 16px;
      font-weight: 500;
      padding: 0;
    }

    p {
      text-overflow: ellipsis;
      word-break: break-word;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
      padding: 0;
    }
  }

  .cardIcon {
    min-width: 44px;
  }
  .cardDefaultIcon {
  }
}
.infoCardDetailDiv {
  display: flex;
  align-items: center;
}
.infoCardRightSection {
  display: flex;
  align-items: center;
  flex: 0 1 40%;
  margin-left: 20px;
  justify-content: flex-end;

  > div {
    &:first-child {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex: 0 1 90%;

      h5 {
        color: #bfbfbf;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 8px;
        padding: 0;
      }

      p {
        color: #595959;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        margin: 0;
        padding: 0;
      }
    }
  }
}
