.navMenuContainer {
  border-bottom: none;
  line-height: 32px;
  background: none !important;

  :global(.ant-menu-submenu-horizontal) {
    color: var(--color-normal-text);
    margin: 0 4px !important;

    :global(.ant-menu-submenu-title .anticon) {
      margin-right: 0;
    }

    /* subMenu-title 普通样式 */
    :global(.ant-menu-submenu-title) {
      > span {
        padding: 4px 8px 4px 8px;
        border-radius: 4px;
      }
    }

    /* subMenu组 普通样式 */
    :global(.ant-menu-sub) {
      background-color: transparent !important;
    }

    /* ant-menu-submenu hover样式, subMenu子项被选中时subMenu样式 */
    &:global(.ant-menu-item),
    &:global(.ant-menu-submenu),
    &:global(.ant-menu-submenu-selected),
    &:global(.ant-menu-submenu-active) {
      border-bottom: none !important;
      top: 0 !important;
    }

    /* subMenu-title hover样式 */
    &:global(.ant-menu-submenu-active .ant-menu-submenu-title) {
      color: inherit;
      background-color: inherit;
      > span {
        background-color: var(--v8-top-menu-item-hover);
      }
    }
  }
  /* menu-item 样式 */
  > :global(.ant-menu-item) {
    border-bottom: none !important;
    margin: 0 4px !important;
    top: 0;
    > a {
      padding: 4px 8px;
      border-radius: 4px;
    }
  }
  :global(.ant-menu-submenu-title) {
    > span {
      color: var(--color-normal-text);
    }
  }
  :global(.ant-menu-item) {
    > a {
      color: var(--color-normal-text);
    }
  }
  :global(:not(.ant-menu-item-selected):hover) {
    a {
      background-color: var(--v8-top-menu-item-hover);
      color: var(--color-strong-text);
    }
    border-bottom: none !important;
  }
}

/* 下拉弹窗样式 */
.popupWrapper {
  padding: 4px 0px 3px 0px;
  top: 41px !important;
  :global(.ant-menu) {
    background: var(--antd-dropdown-menu-bg) !important;
    border-radius: 6px;
    box-shadow: 0px 4px 12px 0px rgba(17, 37, 64, 0.08);
    padding: 4px 0;

    :global(.ant-menu-submenu-title) {
      padding: 0px 4px 0px 14px;
      /* margin: 0 2px; */
      font-size: 14px;
      color: var(--color-normal-text);
      line-height: 14px;
    }

    :global(.ant-menu-submenu-active .ant-menu-submenu-title) {
      > span {
        color: var(--color-normal-text);
      }
    }

    :global(.ant-menu-submenu-selected .ant-menu-submenu-title) {
      background-color: var(--v8-top-menu-item-selected-bg) !important;
      > span {
        /* color: var(--color-strong-text) !important; */
        color: var(--color-brand) !important;
      }
      :global(.ant-menu-submenu-arrow) {
        color: var(--color-brand);
      }
    }
  }

  /* 子菜单项样式 */
  .subMenuWrapper {
    margin: 8px 0px;
    height: 36px;
    line-height: 36px;
    :global(.ant-menu-submenu-title) {
      /* padding: 0px 24px 0px 8px; */
      font-size: 14px;
      color: var(--color-normal-text);
      line-height: 36px;
      height: 36px;
      /* border-radius: var(--card-default-border-radius); */
      span {
        margin: 0px 49px 0px 10px;
      }
      :global(.ant-menu-submenu-arrow) {
        color: var(--color-normal-text);
      }
    }

    &:global(.ant-menu-submenu-active .ant-menu-submenu-title) {
      color: inherit;

      background-color: var(--v8-top-menu-item-hover);
      > span {
        color: var(--color-normal-text);
      }
      :global(.ant-menu-submenu-arrow) {
        color: var(--color-strong-text);
      }
    }

    &:global(.ant-menu-submenu-selected .ant-menu-submenu-title) {
      /* color: inherit; */
      background-color: var(--v8-top-menu-item-selected-bg) !important;
      > span {
        /* color: var(--color-strong-text) !important; */
        color: var(--color-brand) !important;
      }
    }
  }

  /* 菜单组样式 */
  .groupWrapper {
    :global(.ant-menu-item) {
      padding: 0 16px;
    }
    :global(.ant-menu-item-group-title) {
      color: inherit;
      background-color: inherit;
      height: 28px;
      margin-top: -8px;
      /* padding: 8px; */
      > span {
        color: var(--color-secondary-text) !important;
        font-weight: 400 !important;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
      }
    }
  }

  /* 菜单子项样式 */
  .simpleMenuItem {
    /* padding: 0px 4px; */
    margin: 8px 0px;
    height: 36px;
    line-height: 28px;
    /* border-radius: var(--card-default-border-radius); */
    span {
      font-size: 14px;
      color: var(--color-normal-text);
      line-height: 36px;
      margin: 0px 49px 0px 8px;
    }
    .menuItemIcon {
      width: 16px;
      height: 16px;
      margin-right: -49px;
    }
  }

  .simpleMenuItem:not(:last-child) {
    margin-bottom: 0px;
  }

  .simpleMenuItem:global(.ant-menu-item-active) {
    color: inherit;
    background-color: var(--v8-top-menu-item-selected-bg) !important;
    span {
      color: var(--color-normal-text);
    }
  }

  :global(.ant-menu-item-selected) {
    background-color: var(--v8-top-menu-item-selected-bg) !important;
    span {
      color: var(--color-brand) !important;
      font-weight: 500;
    }
  }

  ul:first-child {
    :global(.ant-menu-item-group-title) {
      margin-top: 0;
    }
  }
}

.popupWrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  filter: blur(32px);
  z-index: -1;
}
