.navMenuContainer {
  border-bottom: none;
  line-height: 32px;
  background: none !important;
  :global(.ant-menu-submenu-horizontal) {
    color: var(--color-normal-text);
    margin: 0 4px !important;

    :global(.ant-menu-submenu-title .anticon) {
      margin-right: 0;
    }

    /* subMenu-title 普通样式 */
    :global(.ant-menu-submenu-title) {
      &::after {
        content: "^";
        position: absolute;
        display: inline-block;
        transform: rotate(180deg);
        top: -2px;
        right: 4px;
        transition: none;
        color: var(--color-normal-text);
      }
      :global(.ant-menu-submenu-arrow) {
        color: var(--color-normal-text);

        &::before,
        &::after {
          height: 1px;
        }
      }
      > span {
        padding: 4px 16px 4px 8px;
        border-radius: 4px;
      }
    }

    /* subMenu组 普通样式 */
    :global(.ant-menu-sub) {
      background-color: transparent !important;
    }

    /* ant-menu-submenu hover样式, subMenu子项被选中时subMenu样式 */
    &:global(.ant-menu-item),
    &:global(.ant-menu-submenu),
    &:global(.ant-menu-submenu-selected),
    &:global(.ant-menu-submenu-active) {
      border-bottom: none !important;
      top: 0 !important;
    }

    /* subMenu-title hover样式 */
    &:global(.ant-menu-submenu-active .ant-menu-submenu-title) {
      color: inherit;
      background-color: inherit;
      &::after {
        content: "^";
        position: absolute;
        display: inline-block;
        transform: rotate(0deg);
        top: 2px;
        right: 4px;
      }
      > span {
        background-color: var(--v8-top-menu-item-hover);
        color: var(--color-normal-text);
      }
    }

    /* subMenu子项被选中时subMenu-title样式 */
    &:global(.ant-menu-submenu-selected .ant-menu-submenu-title) {
      > span {
        padding: 4px 16px 4px 8px;
        background-color: var(--v8-top-menu-item-selected-bg) !important;
        color: var(--color-strong-text) !important;
      }
    }
  }
  /* menu-item 样式 */
  > :global(.ant-menu-item) {
    color: var(--color-normal-text);
    border-bottom: none !important;
    margin: 0 4px !important;
    top: 0;
    > a {
      padding: 4px 8px;
      border-radius: 4px;
      color: var(--color-normal-text);
    }

    &:global(.ant-menu-item-selected) {
      a {
        background-color: var(--v8-top-menu-item-selected-bg) !important;
        color: var(--color-strong-text) !important;
      }
      border-bottom: none !important;
    }

    &:global(:not(.ant-menu-item-selected):hover) {
      a {
        background-color: var(--v8-top-menu-item-hover) !important;
        color: var(--color-normal-text);
      }
      border-bottom: none !important;
    }
  }
}

/* 下拉弹窗样式 */
.popupWrapper {
  :global(.ant-menu) {
    background-color: var(--antd-component-background) !important;

    :global(.ant-menu-submenu-title) {
      padding: 0px 4px 0px 14px;
      margin: 0 2px;
      font-size: 14px;
      color: var(--color-normal-text);
      line-height: 14px;
    }

    :global(.ant-menu-submenu-active .ant-menu-submenu-title) {
      > span {
        color: var(--color-normal-text);
      }
    }

    :global(.ant-menu-submenu-selected .ant-menu-submenu-title) {
      > span {
        color: var(--color-strong-text) !important;
      }
    }
  }

  /* 子菜单项样式 */
  .subMenuWrapper {
    margin: 2px 0;
    height: 28px;
    line-height: 28px;
    :global(.ant-menu-submenu-title) {
      padding: 0px 24px 0px 14px;
      margin: 2px;
      font-size: 14px;
      color: var(--color-normal-text);
      line-height: 28px;
      height: 28px;
      border-radius: var(--card-default-border-radius);
    }

    :global(.ant-menu-submenu-arrow) {
      right: 8px;
    }

    &:global(.ant-menu-submenu-active .ant-menu-submenu-title) {
      color: inherit;
      background-color: var(--v8-top-menu-item-hover);
      > span {
        color: var(--color-normal-text);
      }
      :global(.ant-menu-submenu-arrow) {
        color: var(--color-normal-text);
      }
    }

    &:global(.ant-menu-submenu-selected .ant-menu-submenu-title) {
      color: inherit;
      background-color: var(--v8-top-menu-item-selected-bg) !important;
      > span {
        color: var(--color-strong-text) !important;
      }
      :global(.ant-menu-submenu-arrow) {
        color: var(--color-strong-text) !important;
      }
    }
  }

  /* 菜单组样式 */
  .groupWrapper {
    :global(.ant-menu-item-group-title) {
      color: inherit;
      background-color: inherit;
      > span {
        color: var(--color-secondary-text) !important;
        font-weight: 400 !important;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
      }
    }
  }

  /* 菜单子项样式 */
  .simpleMenuItem {
    padding: 0px 4px;
    margin: 4px !important;
    height: 28px;
    line-height: 28px;
    border-radius: var(--card-default-border-radius);
    span {
      font-size: 14px;
      color: var(--color-normal-text);
      line-height: 14px;
      margin: 0 2px;
    }
  }

  .simpleMenuItem:not(:last-child) {
    margin-bottom: 0px;
  }

  .simpleMenuItem:global(.ant-menu-item-active) {
    color: inherit;
    background-color: var(--v8-top-menu-item-hover) !important;
    span {
      color: var(--color-normal-text);
    }
  }

  :global(.ant-menu-item-selected) {
    background-color: var(--v8-top-menu-item-selected-bg) !important;
    span {
      color: var(--color-strong-text) !important;
    }
  }
}

.popupWrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  filter: blur(32px);
  z-index: -1;
  /* background-size:cover; */
}
