.wrapper {
  display: flex;
  max-height: 456px;
}

.groupList {
  width: 160px;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  border-right: 1px solid #e8e8e8;

  .groupItem {
    flex-shrink: 0;
    position: relative;
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background: #8c8c8c;
      border-radius: 50%;
      left: 11px;
      bottom: 50%;
      transform: translateY(50%);
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 28px;
      height: 2px;
      background: #1a7aff;
      left: 24px;
      bottom: 0;
      opacity: 0;
    }

    .groupItemText {
      display: block;
      margin-left: 24px;
      margin-right: 10px;
      font-size: 14px;
      color: #595959;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.groupItemChecked {
      &::before {
        opacity: 1;
      }
    }

    &.groupItemActive {
      &::before {
        background: #1a7aff;
      }

      &::after {
        opacity: 1;
      }

      .groupItemText {
        color: #1a7aff;
      }
    }

    &:hover {
      &::before {
        background: #1a7aff;
      }

      &::after {
        opacity: 1;
      }

      .groupItemText {
        color: #1a7aff;
      }
    }
  }
}

.menuContainer {
  width: 320px;
  display: flex;
  flex-direction: column;

  .menuHeader {
    height: 44px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #f2f4f8 0%, #ffffff 100%);

    .menuHeaderText {
      margin-left: 20px;
      font-size: 16px;
      font-weight: 500;
      color: #595959;
      line-height: 20px;
    }
  }

  .menuItemsContainer {
    padding: 12px 0;
    overflow-y: scroll;
    display: flex;
    gap: 2px 0;
    flex-wrap: wrap;

    .menuItem {
      flex-shrink: 0;
      width: 160px;
      height: 36px;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        background: #595959;
        border-radius: 50%;
        left: 12px;
        bottom: 50%;
        transform: translateY(50%);
        opacity: 0;
      }

      .menuItemText {
        display: block;
        margin-left: 24px;
        margin-right: 10px;
        font-size: 14px;
        color: #595959;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.menuItemChecked {
        &::before {
          opacity: 1;
        }

        .menuItemText {
          font-weight: 500;
          color: #262626;
          line-height: 22px;
        }
      }

      &.menuItemActive {
        &::before {
          background: #1a7aff;
        }

        .menuItemText {
          color: #1a7aff;
        }
      }

      &:hover {
        &::before {
          background: #1a7aff;
        }

        .menuItemText {
          color: #1a7aff;
        }
      }
    }
  }
}
