.scrollContainer {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.siteMapContainer {
  padding-top: 10px;
  column-count: 5;

  .groupWrapper {
    margin: 0 30px;
    break-inside: avoid;

    .group {
      padding: 0;
      margin: 9px 0 58px;
    }
    .item {
      list-style-type: none;
      font-size: 12px;
      padding: 5px 0px;
      > a {
        color: rgba(255, 255, 255, 0.65);
        &:hover {
          color: var(--antd-link-hover-color);
        }
      }
    }
  }
}
