.siteMapContainer {
  column-count: 5;

  .groupWrapper {
    break-inside: avoid;

    .group {
      padding: 0;
      margin-bottom: 30px;
    }
    .item {
      list-style-type: none;
      font-size: 12px;
      padding: 5px 0px;
      > a {
        color: rgba(255, 255, 255, 0.65);
        &:hover {
          color: var(--antd-link-hover-color);
        }
      }
    }
  }
}
