.menuBar {
  z-index: 101;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--menu-bar-width);
  color: #fff;
  background-color: #4e93ef;
  box-shadow: 3px 0px 8px 0px rgba(218, 218, 218, 0.44);
  transition: var(--launchpad-backdrop-transition);
  display: flex;
  flex-direction: column;
}

.menuBar.developing {
  background-position: 0 -55px;
  background-image: url("../../images/developing.png");
  background-repeat: repeat;
  background-size: 148px 150px;
}

:global(.menu-bar-collapsed) .menuBar {
  width: var(--menu-bar-collapsed-width);
}

:global(.first-rendered) .menuBar {
  transition: width var(--menu-bar-collapse-transition-duration)
      var(--menu-bar-collapse-transition-timing-function),
    var(--launchpad-backdrop-transition);
}

:global(.launchpad-open) .menuBar {
  filter: var(--launchpad-backdrop-filter);
}
