.dropdownMenu {
  padding: 10px;
  max-width: 250px;
  max-height: 400px;
  overflow-y: auto;
  li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.search {
  margin-bottom: 15px;
}

.addBtn,
.firstLabel {
  color: var(--color-secondary-text);
}

.deleteIcon {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
  padding: 5px;
  transform: translateY(-50%);
  color: var(--color-error);
}

.firstLabel {
  margin-left: 15px;
  margin-right: 15px;
}
.fieldWrapper {
  &:hover .deleteIcon {
    display: block;
  }
}

.fieldKeyWrapper {
  position: relative;
}

.fieldValueWrapper {
  display: flex;
  gap: 10px;
}
