.formRadioItem {
  flex: 1;
  display: flex;

  > .option {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: var(--editor-brick-skeleton-bg-light);
    border: 1px solid var(--editor-brick-stroke-color);
  }

  > .buttonOption {
    width: 45px;
    height: 30px;
    border: 1px solid var(--editor-brick-stroke-color);

    &:nth-child(2) {
      border-left: none;
      border-right: none;
    }
  }
}
