.mountPoint {
  position: relative;
}

.dragging {
  opacity: 0.3;
}

.draggingMountPointOverCurrent {
  background: rgba(0, 0, 0, 0.5);
}

.slotNameWrapper {
  position: relative;
}

.slotName {
  color: var(--antd-text-color-secondary);
}

.routeMountPoint > .slotNameWrapper > .slotName {
  color: var(--theme-cyan-color);
}

.dropMountPointCursor,
.dropNodeCursor {
  display: none;
  position: absolute;
  bottom: -1px;
  height: 2px;
  right: 0;
  pointer-events: none;
}

.dropMountPointCursor {
  left: 0;
  background: orange;
}

.draggingMountPointOverCurrent.up > .dropMountPointCursor {
  top: -1px;
}

.dropNodeCursor {
  background: #bb79bb;
}

.draggingMountPointOverCurrent > .dropMountPointCursor,
.draggingNodeOverCurrent > .slotNameWrapper > .dropNodeCursor {
  display: block;
}
