:host {
  display: block;
  transition: flex 0.2s;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host([active]) {
  flex: 1;
  min-height: 25px;
}

.pane {
  display: flex;
  flex-direction: column;
  color: #ccc;
  height: 100%;
}

.pane-header {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 24px;
  height: 25px;
  cursor: pointer;
  border-top: 1px solid transparent;
}

.pane-header:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: #007fd4;
}

:host(:not(:first-child)) .pane-header {
  border-top-color: rgba(204, 204, 204, 0.2);
}

.title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  padding-right: 2px;
  line-height: 1;
  flex-shrink: 0;
}

.title-label {
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pane-body {
  flex-grow: 1;
  min-height: 0;
  display: none;
  overflow: hidden;
  overflow-y: auto;
}

:host([active]) .pane-body {
  display: initial;
}

:host([active]) .scrolled {
  box-shadow: #000000 0 6px 6px -6px inset;
}
