.titleWrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.brickName {
  flex: 1;
  color: #f5f5f5;
  line-height: 20px;
  font-weight: 600;
  font-size: 16px;
  background: #519ac0;
  border-radius: 4px;
  padding: 8px 10px;
  margin-bottom: 15px;
}

.eventName {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: rgba(137, 137, 137, 0.7);
  line-height: 17px;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 25px;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 21px;
    left: 0;
    top: 50%;
    border-top: 1px dashed #e5e5e5;
  }

  .eventIcon {
    font-weight: 600;
    line-height: 17px;
  }
}

.eventWrapper {
  padding: 10px 17px;
  position: relative;

  .strikeLine {
    position: absolute;
    width: 1px;
    top: 0;
    border-left: 1px dashed #e5e5e5;
  }
}

.eventHandler {
  margin-left: 40px;
}

.plusIcon,
.removeIcon {
  margin-left: 12px;
  font-size: 16px;
  cursor: pointer;
}

.plusIcon {
  color: #749dd7;
  &:hover {
    color: #2196f3;
  }
}

.removeIcon {
  color: #f57268;
  &:hover {
    color: #f0493c;
  }
}

.addIcon {
  color: rgba(137, 137, 137, 0.7);
}

.actionArea {
  padding: 0 25px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 20px;
    left: 18px;
    top: 50%;
    border-top: 1px dashed #e5e5e5;
  }
}
