.libraryContainer {
  height: 400px;
  width: 830px;
  display: grid;
  grid-template-columns: 160px 1fr;
}
.wrapper {
  position: relative;
  .closeBtn {
    position: absolute;
    right: 0;
    top: 8px;
  }
}
