.onlyShowTotal {
  li {
    &:not(:global(.ant-pagination-total-text)) {
      display: none;
    }
  }
}

.totalText {
  color: var(--antd-paination-total-text);
  .total {
    font-weight: normal;
    color: var(--antd-pagination-total-strong-text);
  }
}
